.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #282a36;
  width: 100%;
  min-height: 100vh;
}
.title {
  padding: 5px 10px;
  color: #8be9fd;
  border-top: 6px solid #8be9fd;
  border-right: 6px solid #8be9fd;
  border-left: 6px solid #8be9fd;
  border-bottom: 12px solid rgba(139, 233, 253, 0.315);
}

.addButton {
  margin-left: 10px;
  color: #44475a;
  background-color: #50fa7b;
  border-radius: 10px;
  padding: 3px 5px;
  border: 2px solid #f8f8f2;
}
.deleteButton {
  background-color: #ff5555;
  color: #f8f8f2;
  margin-left: 20px;
  border-radius: 10px;
  padding: 3px 5px;
}
.todoUl {
  padding: 0;
  list-style: none;
}
.todoLi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 3px solid #8be9fd;
  border-right: 3px solid #8be9fd;
  border-left: 3px solid #8be9fd;
  border-bottom: 7px solid rgba(139, 233, 253, 0.315);

  color: #f8f8f2;
  padding: 10px;
  margin: 10px;
  background-color: #6272a4;
}
