.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #282a36;
  width: 100%;
  min-height: calc(100vh - 50px);
  margin-bottom: 50px;
}
.NavBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #8be9fd;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

.title {
  padding: 5px 10px !important;
  color: #8be9fd;
  border-top: 6px solid #8be9fd;
  border-right: 6px solid #8be9fd;
  border-left: 6px solid #8be9fd;
  border-bottom: 12px solid rgba(139, 233, 253, 0.315);
}

.notizentitle {
  color: #8be9fd;
  border-top: 6px solid #8be9fd;
  border-right: 6px solid #8be9fd;
  border-left: 6px solid #8be9fd;
  border-bottom: 12px solid rgba(139, 233, 253, 0.315);
  padding: 10px 15px !important;
}

.addButton {
  margin-left: 10px !important;
  color: #44475a;
  background-color: #50fa7b;
  border-radius: 10px;
  padding: 3px 5px !important;
  border: 2px solid #f8f8f2;
}
.deleteButton {
  background-color: #ff5555;
  color: #f8f8f2;
  margin-left: 20px !important;
  border-radius: 10px;
  padding: 10px;
}
.todoUl {
  padding: 0;
  list-style: none;
}
.todoWrap {
  margin-top: 30px;
}
form {
  display: flex;
  justify-content: center;
}
.form input {
  color: #6272a4;
}
.notizenWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.todoLi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 3px solid #8be9fd;
  border-right: 3px solid #8be9fd;
  border-left: 3px solid #8be9fd;
  border-bottom: 7px solid rgba(139, 233, 253, 0.315);
  color: #f8f8f2;
  padding: 10px !important;
  margin: 10px !important;
  background-color: #6272a4;
}
.todoLi::before {
  content: "💙";
}
.noticeUL {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.noticeLi {
  text-align: center;
  height: auto;
  min-height: 30px;
  max-width: 180px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #282a36;
  padding: 30px !important;
  margin: 10px !important;
  background-color: ghostwhite;
  border-left: 25px dotted black;
  position: relative;
  z-index: 1;
}
.noticeLi button {
  background-color: #ff5555;
  color: #f8f8f2;
  border-radius: 16px;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
